In [285]:
import numpy as np
import pandas as pd
import MySQLdb

In [286]:
# too big too load in python
# LeaveTime_DB = pd.read_csv("D:/datasets/Dublin_bus/data/rt_leavetimes_DB_2018.txt", sep=';')
# Trips_DB = pd.read_csv("D:/datasets/Dublin_bus/data/rt_trips_DB_2018.txt")
# Vehicles_DB = pd.read_csv("D:/datasets/Dublin_bus/data/rt_vehicles_DB_2018.txt")

# Import data and connect to database

In [287]:
# Connect to mysql
cxn = MySQLdb.connect(user='user', password='nUT8+~nYRS/9-i$')
cur = cxn.cursor()

In [288]:
def GetData(cur, query):
    # cur.execute('select * from busduck.leavetimes_01 LIMIT 0,10;')
    cur.execute(query)
    rows = cur.fetchall()
    return    pd.DataFrame(rows, columns=[i[0] for i in cur.description])

In [208]:
weather_DF = pd.read_csv("D:/datasets/Dublin_bus/2018_daily.csv")

In [209]:
weather_DF.tail()

             date      time  temp  humid  windspeed      condition
17142  2018/12/31   9:30 PM    48     82         15  Mostly Cloudy
17143  2018/12/31  10:00 PM    48     82         12  Mostly Cloudy
17144  2018/12/31  10:30 PM    50     76         13  Mostly Cloudy
17145  2018/12/31  11:00 PM    48     82         13  Mostly Cloudy
17146  2018/12/31  11:30 PM    48     82         13  Mostly Cloudy

## Convert column types

In [211]:
# convert to datetime
def date_to_datetime(x):
    """convert seconds to timedelta"""
    return datetime.datetime.strptime(x, "%Y/%m/%d")

In [212]:
# convert 24 hours formate
def time12_to_time24(x):
    """convert seconds to timedelta"""
    return datetime.datetime.strptime(x, "%I:%M %p").time()

In [213]:
weather_DF["date"] = weather_DF["date"].apply(date_to_datetime)
weather_DF["time"] = weather_DF["time"].apply(time12_to_time24)

In [215]:
weather_DF.head()

        date      time  temp  humid  windspeed                  condition
0 2018-01-01  00:00:00    39     75         16              Partly Cloudy
1 2018-01-01  00:30:00    37     81         14              Partly Cloudy
2 2018-01-01  01:00:00    39     87         29  Light Rain Shower / Windy
3 2018-01-01  01:30:00    41     81         31      Mostly Cloudy / Windy
4 2018-01-01  02:00:00    39     87         26  Light Rain Shower / Windy

In [289]:
weather_DF.dtypes

date         datetime64[ns]
time                 object
temp                  int64
humid                 int64
windspeed             int64
condition            object
dtype: object

# Select whole year data of line:17 direction:1

In [290]:
query = """
SELECT * FROM busduck.rt_leavetimes_db where TRIPID in 
(SELECT TRIPID FROM busduck.rt_trips_db where LINEID="17" and DIRECTION = 1);
"""
DF = GetData(cur, query)

In [291]:
DF.head(5)

,DATASOURCE,DAYOFSERVICE,TRIPID,PROGRNUMBER,STOPPOINTID,PLANNEDTIME_ARR,PLANNEDTIME_DEP,ACTUALTIME_ARR,ACTUALTIME_DEP,VEHICLEID,PASSENGERS,PASSENGERSIN,PASSENGERSOUT,DISTANCE,SUPPRESSED,JUSTIFICATIONID,LASTUPDATE,NOTE
0,DB,2018-01-01,5968763,1,1380,50700,50700,50714,50714,2406881,0,0,0,0,0,0,2018-01-08 17:21:10,
1,DB,2018-01-01,5968763,2,1381,50726,50726,50731,50731,2406881,0,0,0,0,0,0,2018-01-08 17:21:10,
2,DB,2018-01-01,5968763,3,1406,50773,50773,50787,50817,2406881,0,0,0,0,0,0,2018-01-08 17:21:10,
3,DB,2018-01-01,5968763,4,1407,50816,50816,50871,50871,2406881,0,0,0,0,0,0,2018-01-08 17:21:10,
4,DB,2018-01-01,5968763,5,1409,50855,50855,50893,50893,2406881,0,0,0,0,0,0,2018-01-08 17:21:10,

In [292]:
DF.tail(5)

,DATASOURCE,DAYOFSERVICE,TRIPID,PROGRNUMBER,STOPPOINTID,PLANNEDTIME_ARR,PLANNEDTIME_DEP,ACTUALTIME_ARR,ACTUALTIME_DEP,VEHICLEID,PASSENGERS,PASSENGERSIN,PASSENGERSOUT,DISTANCE,SUPPRESSED,JUSTIFICATIONID,LASTUPDATE,NOTE
582002,DB,2018-12-31,8591872,65,467,65061,65061,65397,65397,2534852,0,0,0,0,0,0,2019-01-16 18:27:21,
582003,DB,2018-12-31,8591872,66,468,65096,65096,65414,65414,2534852,0,0,0,0,0,0,2019-01-16 18:27:21,
582004,DB,2018-12-31,8591872,67,3032,65134,65134,65521,65536,2534852,0,0,0,0,0,0,2019-01-16 18:27:21,
582005,DB,2018-12-31,8591872,68,3033,65180,65180,65600,65600,2534852,0,0,0,0,0,0,2019-01-16 18:27:21,
582006,DB,2018-12-31,8591872,69,3085,65227,65227,65623,65623,2534852,0,0,0,0,0,0,2019-01-16 18:27:21,

# Drop useless columns and duplicate rows and check null

In [293]:
unused_cols = ["DATASOURCE", "VEHICLEID", "PASSENGERS", "PASSENGERSIN", "PASSENGERSOUT",
              "DISTANCE", "JUSTIFICATIONID","LASTUPDATE","NOTE", "PLANNEDTIME_ARR", "PLANNEDTIME_DEP"]
DF_droped = DF.drop(unused_cols, axis=1)

In [294]:
DF_droped

,DAYOFSERVICE,TRIPID,PROGRNUMBER,STOPPOINTID,ACTUALTIME_ARR,ACTUALTIME_DEP,SUPPRESSED
0,2018-01-01,5968763,1,1380,50714,50714,0
1,2018-01-01,5968763,2,1381,50731,50731,0
2,2018-01-01,5968763,3,1406,50787,50817,0
3,2018-01-01,5968763,4,1407,50871,50871,0
4,2018-01-01,5968763,5,1409,50893,50893,0
...,...,...,...,...,...,...,...
582002,2018-12-31,8591872,65,467,65397,65397,0
582003,2018-12-31,8591872,66,468,65414,65414,0
582004,2018-12-31,8591872,67,3032,65521,65536,0
582005,2018-12-31,8591872,68,3033,65600,65600,0
582006,2018-12-31,8591872,69,3085,65623,65623,0

In [295]:
sum(DF_droped.duplicated(keep=False))

0

It shows no duplicate rows

In [296]:
DF_droped.isnull().sum()

DAYOFSERVICE      0
TRIPID            0
PROGRNUMBER       0
STOPPOINTID       0
ACTUALTIME_ARR    0
ACTUALTIME_DEP    0
SUPPRESSED        0
dtype: int64

It shows no null values

In [297]:
DF_droped.dtypes

DAYOFSERVICE      datetime64[ns]
TRIPID                    object
PROGRNUMBER                int64
STOPPOINTID               object
ACTUALTIME_ARR             int64
ACTUALTIME_DEP             int64
SUPPRESSED                 int64
dtype: object

# Create Customized Columns

## Add 'ARR' and 'DEP' converted to time

In [298]:
import datetime

In [299]:
def seconds_to_timedelta(x):
    """convert seconds to timedelta"""
    return datetime.timedelta(seconds=x)

In [300]:
DF_droped["ACTUALTIME_ARR_DATETIME"] = DF_droped["DAYOFSERVICE"] + DF_droped["ACTUALTIME_ARR"].apply(seconds_to_timedelta)
DF_droped["ACTUALTIME_DEP_DATETIME"] = DF_droped["DAYOFSERVICE"] + DF_droped["ACTUALTIME_DEP"].apply(seconds_to_timedelta)

In [301]:
DF_droped["WEEK_DAY"] = DF_droped["DAYOFSERVICE"].dt.dayofweek

In [302]:
# WEEKDAY from 0 to 6
DF_droped.tail()

,DAYOFSERVICE,TRIPID,PROGRNUMBER,STOPPOINTID,ACTUALTIME_ARR,ACTUALTIME_DEP,SUPPRESSED,ACTUALTIME_ARR_DATETIME,ACTUALTIME_DEP_DATETIME,WEEK_DAY
582002,2018-12-31,8591872,65,467,65397,65397,0,2018-12-31 18:09:57,2018-12-31 18:09:57,0
582003,2018-12-31,8591872,66,468,65414,65414,0,2018-12-31 18:10:14,2018-12-31 18:10:14,0
582004,2018-12-31,8591872,67,3032,65521,65536,0,2018-12-31 18:12:01,2018-12-31 18:12:16,0
582005,2018-12-31,8591872,68,3033,65600,65600,0,2018-12-31 18:13:20,2018-12-31 18:13:20,0
582006,2018-12-31,8591872,69,3085,65623,65623,0,2018-12-31 18:13:43,2018-12-31 18:13:43,0

## Devided into periods according to 'ACTUALTIME_ARR_DATETIME'

if time in 2:00 ~ 2:30, the period would be 2:00 <br>
if time in 2:30 ~ 3:00, the period would be 2:30

In [303]:
def time_to_periods(x):
    """convert time to periods defined"""
    if x.minute < 30:
        m = 0
    else:
        m = 30
    return datetime.time(x.hour,m)

In [304]:
ts = pd.Series(1,index=DF_droped["ACTUALTIME_ARR_DATETIME"])

In [305]:
DF_droped["PERIOD"] = DF_droped["ACTUALTIME_ARR_DATETIME"].apply(time_to_periods)

In [306]:
DF_droped["DAYOFSERVICE"][0]

Timestamp('2018-01-01 00:00:00')

## Merge dataframes 'DF_droped" and "weather_DF"

Use left outer join to merge them based on : left_on=['DAYOFSERVICE','PERIOD'],  right_on=['date','time']

In [307]:
DF_merged = pd.merge(DF_droped, weather_DF, left_on=['DAYOFSERVICE','PERIOD'], \
         right_on=['date','time'], how='left').drop(['date','time'], axis=1)

In [309]:
DF_merged.head()

,DAYOFSERVICE,TRIPID,PROGRNUMBER,STOPPOINTID,ACTUALTIME_ARR,ACTUALTIME_DEP,SUPPRESSED,ACTUALTIME_ARR_DATETIME,ACTUALTIME_DEP_DATETIME,WEEK_DAY,PERIOD,temp,humid,windspeed,condition
0,2018-01-01,5968763,1,1380,50714,50714,0,2018-01-01 14:05:14,2018-01-01 14:05:14,0,14:00:00,45.0,81.0,29.0,Light Rain Shower / Windy
1,2018-01-01,5968763,2,1381,50731,50731,0,2018-01-01 14:05:31,2018-01-01 14:05:31,0,14:00:00,45.0,81.0,29.0,Light Rain Shower / Windy
2,2018-01-01,5968763,3,1406,50787,50817,0,2018-01-01 14:06:27,2018-01-01 14:06:57,0,14:00:00,45.0,81.0,29.0,Light Rain Shower / Windy
3,2018-01-01,5968763,4,1407,50871,50871,0,2018-01-01 14:07:51,2018-01-01 14:07:51,0,14:00:00,45.0,81.0,29.0,Light Rain Shower / Windy
4,2018-01-01,5968763,5,1409,50893,50893,0,2018-01-01 14:08:13,2018-01-01 14:08:13,0,14:00:00,45.0,81.0,29.0,Light Rain Shower / Windy

## Add 'dwell time' and 'diff time'

'dwell time' = "ACTUALTIME_DEP" - "ACTUALTIME_ARR"
'Diff_time' = ACTUALTIME_ARR" - ACTUALTIME_ARR".laststop
Groupby DAYOFSERVICE and TRIPID

In [357]:
DF_merged['DWELLTIME'] = DF_merged["ACTUALTIME_DEP"] - DF_merged["ACTUALTIME_ARR"]

In [343]:
DF_merged.head()

,DAYOFSERVICE,TRIPID,PROGRNUMBER,STOPPOINTID,ACTUALTIME_ARR,ACTUALTIME_DEP,SUPPRESSED,ACTUALTIME_ARR_DATETIME,ACTUALTIME_DEP_DATETIME,WEEK_DAY,PERIOD,temp,humid,windspeed,condition,DWELLTIME
0,2018-01-01,5968763,1,1380,50714,50714,0,2018-01-01 14:05:14,2018-01-01 14:05:14,0,14:00:00,45.0,81.0,29.0,Light Rain Shower / Windy,0
1,2018-01-01,5968763,2,1381,50731,50731,0,2018-01-01 14:05:31,2018-01-01 14:05:31,0,14:00:00,45.0,81.0,29.0,Light Rain Shower / Windy,0
2,2018-01-01,5968763,3,1406,50787,50817,0,2018-01-01 14:06:27,2018-01-01 14:06:57,0,14:00:00,45.0,81.0,29.0,Light Rain Shower / Windy,0
3,2018-01-01,5968763,4,1407,50871,50871,0,2018-01-01 14:07:51,2018-01-01 14:07:51,0,14:00:00,45.0,81.0,29.0,Light Rain Shower / Windy,0
4,2018-01-01,5968763,5,1409,50893,50893,0,2018-01-01 14:08:13,2018-01-01 14:08:13,0,14:00:00,45.0,81.0,29.0,Light Rain Shower / Windy,0

In [386]:
DF_merged['DIFFTIME'] = DF_merged.groupby(['DAYOFSERVICE','TRIPID'])['ACTUALTIME_ARR'].apply(lambda x:x.diff(1))

In [393]:
DF_merged.to_csv("ABT.csv")