# import Analytics Base Table

In [13]:
import pandas as pd

In [14]:
DF = pd.read_csv("D:/datasets/Dublin_bus/ABT.csv").drop("Unnamed: 0", axis=1)

## Convert dtypes

In [15]:
DF.dtypes

DAYOFSERVICE                object
TRIPID                       int64
PROGRNUMBER                  int64
STOPPOINTID                  int64
ACTUALTIME_ARR               int64
ACTUALTIME_DEP               int64
ACTUALTIME_ARR_DATETIME     object
ACTUALTIME_DEP_DATETIME     object
WEEK_DAY                     int64
PERIOD                      object
temp                         int64
humid                        int64
windspeed                    int64
condition                   object
DWELLTIME                    int64
DIFFTIME                   float64
dtype: object

In [16]:
cols_to_datetype = ["DAYOFSERVICE","ACTUALTIME_ARR_DATETIME","ACTUALTIME_DEP_DATETIME"]
for i in cols_to_datetype:
    DF[i] = DF[i].astype('datetime64[ns]')

In [17]:
cols_to_cat = ["TRIPID","PROGRNUMBER","STOPPOINTID", "WEEK_DAY","PERIOD","condition"]
for i in cols_to_cat:
    DF[i] = DF[i].astype('category')

In [18]:
DF.dtypes

DAYOFSERVICE               datetime64[ns]
TRIPID                           category
PROGRNUMBER                      category
STOPPOINTID                      category
ACTUALTIME_ARR                      int64
ACTUALTIME_DEP                      int64
ACTUALTIME_ARR_DATETIME    datetime64[ns]
ACTUALTIME_DEP_DATETIME    datetime64[ns]
WEEK_DAY                         category
PERIOD                           category
temp                                int64
humid                               int64
windspeed                           int64
condition                        category
DWELLTIME                           int64
DIFFTIME                          float64
dtype: object

In [19]:
DF.head()

,DAYOFSERVICE,TRIPID,PROGRNUMBER,STOPPOINTID,ACTUALTIME_ARR,ACTUALTIME_DEP,ACTUALTIME_ARR_DATETIME,ACTUALTIME_DEP_DATETIME,WEEK_DAY,PERIOD,temp,humid,windspeed,condition,DWELLTIME,DIFFTIME
0,2018-01-01,5968763,1,1380,50714,50714,2018-01-01 14:05:14,2018-01-01 14:05:14,0,14:00:00,45,81,29,Light Rain Shower / Windy,0,NaN
1,2018-01-01,5968763,2,1381,50731,50731,2018-01-01 14:05:31,2018-01-01 14:05:31,0,14:00:00,45,81,29,Light Rain Shower / Windy,0,17.0
2,2018-01-01,5968763,3,1406,50787,50817,2018-01-01 14:06:27,2018-01-01 14:06:57,0,14:00:00,45,81,29,Light Rain Shower / Windy,30,56.0
3,2018-01-01,5968763,4,1407,50871,50871,2018-01-01 14:07:51,2018-01-01 14:07:51,0,14:00:00,45,81,29,Light Rain Shower / Windy,0,84.0
4,2018-01-01,5968763,5,1409,50893,50893,2018-01-01 14:08:13,2018-01-01 14:08:13,0,14:00:00,45,81,29,Light Rain Shower / Windy,0,22.0

In [20]:
DF.describe(include="all").T

,count,unique,top,freq,first,last,mean,std,min,25%,50%,75%,max
DAYOFSERVICE,582007,359,2018-05-28 00:00:00,2058,2018-01-01 00:00:00,2018-12-31 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
TRIPID,582007,2704,7.32986e+06,1301,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
PROGRNUMBER,582007,69,8,9015,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
STOPPOINTID,582007,72,2895,8873,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ACTUALTIME_ARR,582007,NaN,NaN,NaN,NaT,NaT,51236.4,15892.3,24691,36363,50711,63859.5,86329
ACTUALTIME_DEP,582007,NaN,NaN,NaN,NaT,NaT,51245,15890.5,24691,36375,50719,63870,86329
ACTUALTIME_ARR_DATETIME,582007,575834,2018-12-06 08:51:20,3,2018-01-01 11:19:52,2018-12-31 22:10:35,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ACTUALTIME_DEP_DATETIME,582007,576020,2018-10-17 09:24:33,3,2018-01-01 11:19:52,2018-12-31 22:10:35,NaN,NaN,NaN,NaN,NaN,NaN,NaN
WEEK_DAY,582007,7,1,97443,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
PERIOD,582007,35,09:00:00,28425,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
temp,582007,NaN,NaN,NaN,NaT,NaT,51.8704,10.0525,23,45,52,59,79
humid,582007,NaN,NaN,NaN,NaT,NaT,76.7534,13.7928,0,68,77,87,100
windspeed,582007,NaN,NaN,NaN,NaT,NaT,12.2069,5.84068,0,8,12,15,41
condition,582007,30,Mostly Cloudy,259620,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
DWELLTIME,582007,NaN,NaN,NaN,NaT,NaT,8.54814,20.4187,0,0,0,13,3110
DIFFTIME,572778,NaN,NaN,NaN,NaT,NaT,58.7483,63.233,-2737,26,43,69,4166

# Descriptive Statistics
## continuous features

In [21]:
cols_cat = ["WEEK_DAY","PERIOD","condition"]
cols_con = ["temp", "humid", "windspeed", "DWELLTIME", "DIFFTIME"] # DIFFTIME is target

In [22]:
DF_describe_con = DF[cols_con].describe().T
missing = 100 * (DF[cols_con].isnull().sum()/DF.shape[0])
card = DF[cols_con].nunique()
DF_describe_con = pd.concat([DF_describe_con, pd.DataFrame(missing, columns=['%missing']), pd.DataFrame(card, columns=['card'])], axis=1)

del(missing)
del(card)
DF_describe_con

,count,mean,std,min,25%,50%,75%,max,%missing,card
temp,582007.0,51.870436,10.052519,23.0,45.0,52.0,59.0,79.0,0.00000,32
humid,582007.0,76.753400,13.792823,0.0,68.0,77.0,87.0,100.0,0.00000,64
windspeed,582007.0,12.206943,5.840677,0.0,8.0,12.0,15.0,41.0,0.00000,35
DWELLTIME,582007.0,8.548136,20.418713,0.0,0.0,0.0,13.0,3110.0,0.00000,453
DIFFTIME,572778.0,58.748274,63.233015,-2737.0,26.0,43.0,69.0,4166.0,1.58572,957

In [12]:
DF.loc[DF["temp"].isnull(),["DAYOFSERVICE","PERIOD"]]

       DAYOFSERVICE    PERIOD
6502     2018-01-05  21:00:00
6503     2018-01-05  21:00:00
6504     2018-01-05  21:00:00
6505     2018-01-05  21:00:00
6506     2018-01-05  21:00:00
...             ...       ...
548896   2018-12-06  17:30:00
548897   2018-12-06  17:30:00
548898   2018-12-06  17:30:00
548899   2018-12-06  17:30:00
548900   2018-12-06  17:30:00

[15288 rows x 2 columns]

In [ ]:
DF.loc[DF["temp"].isnull(),["DAYOFSERVICE","PERIOD"]].values.ravel('K')

In [ ]:
DF.loc[DF["temp"].isnull(),"DAYOFSERVICE"].unique()

In [ ]:
df_table_continuous = df_converted[continuous_columns].describe().T
continuous_missing = 100 * (df_converted[continuous_columns].isnull().sum()/df_converted.shape[0])
continuous_card = df_converted[continuous_columns].nunique()

# continuous_missing and cardinality
df_continuous_missing = pd.DataFrame(continuous_missing, columns=['%missing'])
df_continuous_card = pd.DataFrame(continuous_card, columns=['card'])
df_table_continuous = pd.concat([df_table_continuous, df_continuous_missing, df_continuous_card], axis=1)
df_table_continuous

## Handle Data issues

In [ ]:
criteries = "DIFFTIME>=4000"
DF[DF.eval(criteries)]

In [ ]:
DF.loc[84180:84190]

In [ ]:
criteries = "DIFFTIME<0"
DF[DF.eval(criteries)]

In [ ]:
DF.loc[117515:117523]

In [ ]:
criteries = "TRIPID=='6265084'"
DF[DF.eval(criteries)].to_csv("test5.csv")

In [ ]:
criteries = "DIFFTIME==0"
DF[DF.eval(criteries)]

In [ ]:
DF.loc[111360:111370]

In [ ]:
criteries = "DIFFTIME>=4000"
DF[DF.eval(criteries)]

In [ ]:
DF.loc[84180:84190]

In [ ]:
criteries = "DIFFTIME<0"
DF[DF.eval(criteries)]

In [ ]:
DF.loc[117515:117523]

In [ ]:
criteries = "TRIPID=='6265084'"
DF[DF.eval(criteries)].to_csv("test5.csv")

In [ ]:
criteries = "DIFFTIME==0"
DF[DF.eval(criteries)]

In [ ]:
DF.loc[111360:111370]

In [ ]:
criteries = "DIFFTIME>=4000"
DF[DF.eval(criteries)]

DF.loc[84180:84190]

criteries = "DIFFTIME<0"
DF[DF.eval(criteries)]

DF.loc[117515:117523]

criteries = "TRIPID=='6265084'"
DF[DF.eval(criteries)].to_csv("test5.csv")

criteries = "DIFFTIME==0"
DF[DF.eval(criteries)]

DF.loc[111360:111370]