In [1]:
import numpy as np
import pandas as pd
import MySQLdb
import datetime

In [2]:
# too big too load in python
# LeaveTime_DB = pd.read_csv("D:/datasets/Dublin_bus/data/rt_leavetimes_DB_2018.txt", sep=';')
# Trips_DB = pd.read_csv("D:/datasets/Dublin_bus/data/rt_trips_DB_2018.txt")
# Vehicles_DB = pd.read_csv("D:/datasets/Dublin_bus/data/rt_vehicles_DB_2018.txt")

# Import data and connect to database

In [3]:
# Connect to mysql
cxn = MySQLdb.connect(user='user', password='nUT8+~nYRS/9-i$')
cur = cxn.cursor()

In [4]:
def GetData(cur, query):
    # cur.execute('select * from busduck.leavetimes_01 LIMIT 0,10;')
    cur.execute(query)
    rows = cur.fetchall()
    return    pd.DataFrame(rows, columns=[i[0] for i in cur.description])

In [51]:
weather_DF = pd.read_csv("D:/datasets/Dublin_bus/2018_daily.csv")

In [6]:
weather_DF.tail()

             date      time  temp  humid  windspeed      condition
17142  2018/12/31   9:30 PM    48     82         15  Mostly Cloudy
17143  2018/12/31  10:00 PM    48     82         12  Mostly Cloudy
17144  2018/12/31  10:30 PM    50     76         13  Mostly Cloudy
17145  2018/12/31  11:00 PM    48     82         13  Mostly Cloudy
17146  2018/12/31  11:30 PM    48     82         13  Mostly Cloudy

In [7]:
weather_DF.dtypes

date         object
time         object
temp          int64
humid         int64
windspeed     int64
condition    object
dtype: object

The weather table should have 17520 rows. It means that the weather website fail to display some time points.<br>
We should insert missing rows to the weather_DF

## Interpolation

In [8]:
# convert 24 hours formate
def time12_to_timedelta(x):
    """convert seconds to timedelta"""
    t = datetime.datetime.strptime(x, "%I:%M %p")
    return datetime.timedelta(hours=t.hour, minutes=t.minute, seconds=t.second)

In [9]:
# convert to datetime
def date_to_datetime(x):
    """convert seconds to timedelta"""
    return datetime.datetime.strptime(x, "%Y/%m/%d")

In [52]:
weather_index = weather_DF['date'].apply(date_to_datetime) + weather_DF['time'].apply(time12_to_timedelta)

In [55]:
weather_DF = weather_DF.loc[~weather_index.duplicated(keep='first')] # drop dupplicated
weather_DF

             date      time  temp  humid  windspeed                  condition
0        2018/1/1  12:00 AM    39     75         16              Partly Cloudy
1        2018/1/1  12:30 AM    37     81         14              Partly Cloudy
2        2018/1/1   1:00 AM    39     87         29  Light Rain Shower / Windy
3        2018/1/1   1:30 AM    41     81         31      Mostly Cloudy / Windy
4        2018/1/1   2:00 AM    39     87         26  Light Rain Shower / Windy
...           ...       ...   ...    ...        ...                        ...
17142  2018/12/31   9:30 PM    48     82         15              Mostly Cloudy
17143  2018/12/31  10:00 PM    48     82         12              Mostly Cloudy
17144  2018/12/31  10:30 PM    50     76         13              Mostly Cloudy
17145  2018/12/31  11:00 PM    48     82         13              Mostly Cloudy
17146  2018/12/31  11:30 PM    48     82         13              Mostly Cloudy

[17145 rows x 6 columns]

In [56]:
weather_index = weather_index[~weather_index.duplicated(keep='first')]
weather_index

0       2018-01-01 00:00:00
1       2018-01-01 00:30:00
2       2018-01-01 01:00:00
3       2018-01-01 01:30:00
4       2018-01-01 02:00:00
                ...
17142   2018-12-31 21:30:00
17143   2018-12-31 22:00:00
17144   2018-12-31 22:30:00
17145   2018-12-31 23:00:00
17146   2018-12-31 23:30:00
Length: 17145, dtype: datetime64[ns]

Drop some duplicated rows

In [58]:
weather_DF = weather_DF.set_index(weather_index)
weather_DF

date              2018/1/5
time               9:30 PM
temp                    34
humid                   93
windspeed                8
condition    Mostly Cloudy
Name: 2018-01-05 21:30:00, dtype: object

Fill missing rows with back word

In [60]:
weather_DF = weather_DF.resample('30T',label='left').bfill()
weather_DF

date              2018/1/5
time               9:30 PM
temp                    34
humid                   93
windspeed                8
condition    Mostly Cloudy
Name: 2018-01-05 21:00:00, dtype: object

Update 'date' and 'time' with new values

In [15]:
def weatherindex_to_datetime(x):
    """convert weatherindex to datetime"""
    return datetime.datetime.combine(x.date(), datetime.datetime.min.time())
def weatherindex_to_time(x):
    """convert weatherindex to time"""
    return x.time()

In [115]:
date_pattern = pd.Series(weather_DF.index.to_pydatetime())
date_pattern.index = weather_DF.index
date_pattern

2018-01-01 00:00:00   2018-01-01 00:00:00
2018-01-01 00:30:00   2018-01-01 00:30:00
2018-01-01 01:00:00   2018-01-01 01:00:00
2018-01-01 01:30:00   2018-01-01 01:30:00
2018-01-01 02:00:00   2018-01-01 02:00:00
                              ...
2018-12-31 21:30:00   2018-12-31 21:30:00
2018-12-31 22:00:00   2018-12-31 22:00:00
2018-12-31 22:30:00   2018-12-31 22:30:00
2018-12-31 23:00:00   2018-12-31 23:00:00
2018-12-31 23:30:00   2018-12-31 23:30:00
Freq: 30T, Length: 17520, dtype: datetime64[ns]

In [116]:
weather_DF.loc[:,"date"] = date_pattern.apply(weatherindex_to_datetime)
weather_DF.loc[:,"time"] = date_pattern.apply(weatherindex_to_time)
weather_DF

,date,time,temp,humid,windspeed,condition
2018-01-01 00:00:00,2018-01-01,00:00:00,39,75,16,Partly Cloudy
2018-01-01 00:30:00,2018-01-01,00:30:00,37,81,14,Partly Cloudy
2018-01-01 01:00:00,2018-01-01,01:00:00,39,87,29,Light Rain Shower / Windy
2018-01-01 01:30:00,2018-01-01,01:30:00,41,81,31,Mostly Cloudy / Windy
2018-01-01 02:00:00,2018-01-01,02:00:00,39,87,26,Light Rain Shower / Windy
...,...,...,...,...,...,...
2018-12-31 21:30:00,2018-12-31,21:30:00,48,82,15,Mostly Cloudy
2018-12-31 22:00:00,2018-12-31,22:00:00,48,82,12,Mostly Cloudy
2018-12-31 22:30:00,2018-12-31,22:30:00,50,76,13,Mostly Cloudy
2018-12-31 23:00:00,2018-12-31,23:00:00,48,82,13,Mostly Cloudy
2018-12-31 23:30:00,2018-12-31,23:30:00,48,82,13,Mostly Cloudy

In [119]:
weather_DF.to_csv("2018_daily_inserted.csv")

# Select whole year data of line:17 direction:1

In [18]:
query = """
SELECT * FROM busduck.rt_leavetimes_db where TRIPID in 
(SELECT TRIPID FROM busduck.rt_trips_db where LINEID="17" and DIRECTION = 1);
"""
DF = GetData(cur, query)

In [19]:
DF.head(5)

,DATASOURCE,DAYOFSERVICE,TRIPID,PROGRNUMBER,STOPPOINTID,PLANNEDTIME_ARR,PLANNEDTIME_DEP,ACTUALTIME_ARR,ACTUALTIME_DEP,VEHICLEID,PASSENGERS,PASSENGERSIN,PASSENGERSOUT,DISTANCE,SUPPRESSED,JUSTIFICATIONID,LASTUPDATE,NOTE
0,DB,2018-01-01,5968763,1,1380,50700,50700,50714,50714,2406881,0,0,0,0,0,0,2018-01-08 17:21:10,
1,DB,2018-01-01,5968763,2,1381,50726,50726,50731,50731,2406881,0,0,0,0,0,0,2018-01-08 17:21:10,
2,DB,2018-01-01,5968763,3,1406,50773,50773,50787,50817,2406881,0,0,0,0,0,0,2018-01-08 17:21:10,
3,DB,2018-01-01,5968763,4,1407,50816,50816,50871,50871,2406881,0,0,0,0,0,0,2018-01-08 17:21:10,
4,DB,2018-01-01,5968763,5,1409,50855,50855,50893,50893,2406881,0,0,0,0,0,0,2018-01-08 17:21:10,

In [20]:
DF.tail(5)

,DATASOURCE,DAYOFSERVICE,TRIPID,PROGRNUMBER,STOPPOINTID,PLANNEDTIME_ARR,PLANNEDTIME_DEP,ACTUALTIME_ARR,ACTUALTIME_DEP,VEHICLEID,PASSENGERS,PASSENGERSIN,PASSENGERSOUT,DISTANCE,SUPPRESSED,JUSTIFICATIONID,LASTUPDATE,NOTE
582002,DB,2018-12-31,8591872,65,467,65061,65061,65397,65397,2534852,0,0,0,0,0,0,2019-01-16 18:27:21,
582003,DB,2018-12-31,8591872,66,468,65096,65096,65414,65414,2534852,0,0,0,0,0,0,2019-01-16 18:27:21,
582004,DB,2018-12-31,8591872,67,3032,65134,65134,65521,65536,2534852,0,0,0,0,0,0,2019-01-16 18:27:21,
582005,DB,2018-12-31,8591872,68,3033,65180,65180,65600,65600,2534852,0,0,0,0,0,0,2019-01-16 18:27:21,
582006,DB,2018-12-31,8591872,69,3085,65227,65227,65623,65623,2534852,0,0,0,0,0,0,2019-01-16 18:27:21,

# Drop useless columns and duplicate rows and check null

In [120]:
unused_cols = ["DATASOURCE", "VEHICLEID", "PASSENGERS", "PASSENGERSIN", "PASSENGERSOUT",
              "DISTANCE", "SUPPRESSED", "JUSTIFICATIONID","LASTUPDATE","NOTE", "PLANNEDTIME_ARR", "PLANNEDTIME_DEP"]
DF_droped = DF.drop(unused_cols, axis=1)

In [122]:
DF_droped

,DAYOFSERVICE,TRIPID,PROGRNUMBER,STOPPOINTID,ACTUALTIME_ARR,ACTUALTIME_DEP
0,2018-01-01,5968763,1,1380,50714,50714
1,2018-01-01,5968763,2,1381,50731,50731
2,2018-01-01,5968763,3,1406,50787,50817
3,2018-01-01,5968763,4,1407,50871,50871
4,2018-01-01,5968763,5,1409,50893,50893
...,...,...,...,...,...,...
582002,2018-12-31,8591872,65,467,65397,65397
582003,2018-12-31,8591872,66,468,65414,65414
582004,2018-12-31,8591872,67,3032,65521,65536
582005,2018-12-31,8591872,68,3033,65600,65600
582006,2018-12-31,8591872,69,3085,65623,65623

In [123]:
sum(DF_droped.duplicated(keep=False))

0

It shows no duplicate rows

In [124]:
DF_droped.isnull().sum()

DAYOFSERVICE      0
TRIPID            0
PROGRNUMBER       0
STOPPOINTID       0
ACTUALTIME_ARR    0
ACTUALTIME_DEP    0
dtype: int64

It shows no null values

In [125]:
DF_droped.dtypes

DAYOFSERVICE      datetime64[ns]
TRIPID                    object
PROGRNUMBER                int64
STOPPOINTID               object
ACTUALTIME_ARR             int64
ACTUALTIME_DEP             int64
dtype: object

# Create Customized Columns

## Add 'ARR' and 'DEP' converted to time

In [126]:
import datetime

In [127]:
def seconds_to_timedelta(x):
    """convert seconds to timedelta"""
    return datetime.timedelta(seconds=x)

In [128]:
DF_droped["ACTUALTIME_ARR_DATETIME"] = DF_droped["DAYOFSERVICE"] + DF_droped["ACTUALTIME_ARR"].apply(seconds_to_timedelta)
DF_droped["ACTUALTIME_DEP_DATETIME"] = DF_droped["DAYOFSERVICE"] + DF_droped["ACTUALTIME_DEP"].apply(seconds_to_timedelta)

In [129]:
DF_droped["WEEK_DAY"] = DF_droped["DAYOFSERVICE"].dt.dayofweek

In [130]:
# WEEKDAY from 0 to 6
DF_droped.tail()

,DAYOFSERVICE,TRIPID,PROGRNUMBER,STOPPOINTID,ACTUALTIME_ARR,ACTUALTIME_DEP,ACTUALTIME_ARR_DATETIME,ACTUALTIME_DEP_DATETIME,WEEK_DAY
582002,2018-12-31,8591872,65,467,65397,65397,2018-12-31 18:09:57,2018-12-31 18:09:57,0
582003,2018-12-31,8591872,66,468,65414,65414,2018-12-31 18:10:14,2018-12-31 18:10:14,0
582004,2018-12-31,8591872,67,3032,65521,65536,2018-12-31 18:12:01,2018-12-31 18:12:16,0
582005,2018-12-31,8591872,68,3033,65600,65600,2018-12-31 18:13:20,2018-12-31 18:13:20,0
582006,2018-12-31,8591872,69,3085,65623,65623,2018-12-31 18:13:43,2018-12-31 18:13:43,0

## Devided into periods according to 'ACTUALTIME_ARR_DATETIME'

if time in 2:00 ~ 2:30, the period would be 2:00 <br>
if time in 2:30 ~ 3:00, the period would be 2:30

In [131]:
def time_to_periods(x):
    """convert time to periods defined"""
    if x.minute < 30:
        m = 0
    else:
        m = 30
    return datetime.time(x.hour,m)

In [132]:
ts = pd.Series(1,index=DF_droped["ACTUALTIME_ARR_DATETIME"])

In [133]:
DF_droped["PERIOD"] = DF_droped["ACTUALTIME_ARR_DATETIME"].apply(time_to_periods)

In [134]:
DF_droped["DAYOFSERVICE"][0]

Timestamp('2018-01-01 00:00:00')

## Merge dataframes 'DF_droped" and "weather_DF"

Use left outer join to merge them based on : left_on=['DAYOFSERVICE','PERIOD'],  right_on=['date','time']

In [135]:
DF_merged = pd.merge(DF_droped, weather_DF, left_on=['DAYOFSERVICE','PERIOD'], \
         right_on=['date','time'], how='left').drop(['date','time'], axis=1)

In [136]:
DF_merged.head()

,DAYOFSERVICE,TRIPID,PROGRNUMBER,STOPPOINTID,ACTUALTIME_ARR,ACTUALTIME_DEP,ACTUALTIME_ARR_DATETIME,ACTUALTIME_DEP_DATETIME,WEEK_DAY,PERIOD,temp,humid,windspeed,condition
0,2018-01-01,5968763,1,1380,50714,50714,2018-01-01 14:05:14,2018-01-01 14:05:14,0,14:00:00,45,81,29,Light Rain Shower / Windy
1,2018-01-01,5968763,2,1381,50731,50731,2018-01-01 14:05:31,2018-01-01 14:05:31,0,14:00:00,45,81,29,Light Rain Shower / Windy
2,2018-01-01,5968763,3,1406,50787,50817,2018-01-01 14:06:27,2018-01-01 14:06:57,0,14:00:00,45,81,29,Light Rain Shower / Windy
3,2018-01-01,5968763,4,1407,50871,50871,2018-01-01 14:07:51,2018-01-01 14:07:51,0,14:00:00,45,81,29,Light Rain Shower / Windy
4,2018-01-01,5968763,5,1409,50893,50893,2018-01-01 14:08:13,2018-01-01 14:08:13,0,14:00:00,45,81,29,Light Rain Shower / Windy

## Add 'dwell time' and 'diff time'

'dwell time' = "ACTUALTIME_DEP" - "ACTUALTIME_ARR"
'Diff_time' = ACTUALTIME_ARR" - ACTUALTIME_ARR".laststop
Groupby DAYOFSERVICE and TRIPID

In [137]:
DF_merged['DWELLTIME'] = DF_merged["ACTUALTIME_DEP"] - DF_merged["ACTUALTIME_ARR"]

In [138]:
DF_merged.head()

,DAYOFSERVICE,TRIPID,PROGRNUMBER,STOPPOINTID,ACTUALTIME_ARR,ACTUALTIME_DEP,ACTUALTIME_ARR_DATETIME,ACTUALTIME_DEP_DATETIME,WEEK_DAY,PERIOD,temp,humid,windspeed,condition,DWELLTIME
0,2018-01-01,5968763,1,1380,50714,50714,2018-01-01 14:05:14,2018-01-01 14:05:14,0,14:00:00,45,81,29,Light Rain Shower / Windy,0
1,2018-01-01,5968763,2,1381,50731,50731,2018-01-01 14:05:31,2018-01-01 14:05:31,0,14:00:00,45,81,29,Light Rain Shower / Windy,0
2,2018-01-01,5968763,3,1406,50787,50817,2018-01-01 14:06:27,2018-01-01 14:06:57,0,14:00:00,45,81,29,Light Rain Shower / Windy,30
3,2018-01-01,5968763,4,1407,50871,50871,2018-01-01 14:07:51,2018-01-01 14:07:51,0,14:00:00,45,81,29,Light Rain Shower / Windy,0
4,2018-01-01,5968763,5,1409,50893,50893,2018-01-01 14:08:13,2018-01-01 14:08:13,0,14:00:00,45,81,29,Light Rain Shower / Windy,0

In [139]:
DF_merged['DIFFTIME'] = DF_merged.groupby(['DAYOFSERVICE','TRIPID'])['ACTUALTIME_ARR'].apply(lambda x:x.diff(1))

In [140]:
DF_merged.dtypes

DAYOFSERVICE               datetime64[ns]
TRIPID                             object
PROGRNUMBER                         int64
STOPPOINTID                        object
ACTUALTIME_ARR                      int64
ACTUALTIME_DEP                      int64
ACTUALTIME_ARR_DATETIME    datetime64[ns]
ACTUALTIME_DEP_DATETIME    datetime64[ns]
WEEK_DAY                            int64
PERIOD                             object
temp                                int64
humid                               int64
windspeed                           int64
condition                          object
DWELLTIME                           int64
DIFFTIME                          float64
dtype: object

In [141]:
DF_merged.to_csv("ABT.csv")