In [2]:
import numpy as np
import pandas as pd
import MySQLdb

In [ ]:
# too big too load in python
# LeaveTime_DB = pd.read_csv("D:/datasets/Dublin_bus/data/rt_leavetimes_DB_2018.txt", sep=';')
# Trips_DB = pd.read_csv("D:/datasets/Dublin_bus/data/rt_trips_DB_2018.txt")
# Vehicles_DB = pd.read_csv("D:/datasets/Dublin_bus/data/rt_vehicles_DB_2018.txt")

In [4]:
# Connect to mysql
cxn = MySQLdb.connect(user='user', password='nUT8+~nYRS/9-i$')
cur = cxn.cursor()

In [ ]:
def GetData(cur, query):
    # cur.execute('select * from busduck.leavetimes_01 LIMIT 0,10;')
    cur.execute(query)
    rows = cur.fetchall()
    return    pd.DataFrame(rows, columns=[i[0] for i in cur.description])

In [ ]:
query = "select * from busduck.leavetimes_01 LIMIT 0,5;"
DF = GetData(cur, query)
DF

In [ ]:
query = "select * from busduck.leavetimes_01 LIMIT 0,5;"
Vehicles_DF = GetData(cur, query)
DF

In [44]:
query = "select * from busduck.leavetimes_01 LIMIT 0,5;"
DF = GetData(cur, query)
DF

,DATASOURCE,DAYOFSERVICE,TRIPID,PROGRNUMBER,STOPPOINTID,PLANNEDTIME_ARR,PLANNEDTIME_DEP,ACTUALTIME_ARR,ACTUALTIME_DEP,VEHICLEID,PASSENGERS,PASSENGERSIN,PASSENGERSOUT,DISTANCE,SUPPRESSED,JUSTIFICATIONID,LASTUPDATE,NOTE
0,DB,2018-01-01,5955277,1,7347,30000,30000,30029,30029,1001127,0,0,0,0,0,0,2018-01-08 17:21:10,
1,DB,2018-01-01,5955277,2,3669,30080,30080,30128,30128,1001127,0,0,0,0,0,0,2018-01-08 17:21:10,
2,DB,2018-01-01,5955277,3,7349,30138,30138,30182,30182,1001127,0,0,0,0,0,0,2018-01-08 17:21:10,
3,DB,2018-01-01,5955277,4,1631,30206,30206,30255,30255,1001127,0,0,0,0,0,0,2018-01-08 17:21:10,
4,DB,2018-01-01,5955277,5,1632,30221,30221,30261,30261,1001127,0,0,0,0,0,0,2018-01-08 17:21:10,

In [41]:
query = "select * from busduck.leavetimes_01 LIMIT 0,5;"
Vehicles_DF = GetData(cur, query)
DF

['DATASOURCE',
 'DAYOFSERVICE',
 'TRIPID',
 'PROGRNUMBER',
 'STOPPOINTID',
 'PLANNEDTIME_ARR',
 'PLANNEDTIME_DEP',
 'ACTUALTIME_ARR',
 'ACTUALTIME_DEP',
 'VEHICLEID',
 'PASSENGERS',
 'PASSENGERSIN',
 'PASSENGERSOUT',
 'DISTANCE',
 'SUPPRESSED',
 'JUSTIFICATIONID',
 'LASTUPDATE',
 'NOTE']